@import "/css/components/navigation.css";
@import "/css/components/card.css";
@import "/css/components/header.css";

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #5e2dc1;
  --primary-color-blush: rgb(232, 224, 251);
  --secondary-color: #fc5f1a;
  --secondary-color-blush: #f4d2c4;
  --tertiary-color: white;
  --text-color: #171717;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);
}
