footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color-blush);
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.nav li {
  font-size: 1.8rem;
  color: rgb(180, 195, 213);
}

a {
  text-decoration: none;
}
